player-connection-mode=Listen
player-connection-guid=2039883852
player-connection-debug=1
player-connection-project-name=Idea Name
player-connection-ip=192.168.86.22
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=dd2308ca93f34924a1d53aa3f29b835b
